{% extends 'base.html' %}

{% block title %}Confirm Reset Request{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Please Confirm your reset request</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-small" value="Reset">
            </form>
            <p>click <a href="{% url 'login' %}">here</a>to return to the login page</p>
        </div>
    </div>
</div>
{% endblock content %}